<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <div class="header">
        <h1>SELF-CLEAN CAT LITTER BOX</h1>
    </div>

    <div class="container">
        <div class="select-container">
            <label>Select serial port:</label>
            <select class="serial-port">
                <option value="">-- Please select serial port --</option>
                {% for port, desc, _ in serial_ports %}
                <option value="{{ port }}">{{ port}} ({{ desc }})</option>
                {% endfor %}
            </select>
            <span class="result"></span>
        </div>

        <div class="control-pannel">
            <div class="pannel">
                <label>Manual Mode</label>
                <div class="buttons">
                    <button class="left" type="button">MOVE LEFT</button>
                    <button class="right" type="button">MOVE RIGHT</button>
                </div>

                <div class="buttons">
                    <button class="stop" type="button">STOP</button>
                </div>

                <div class="buttons">
                    <button class="scoop1" type="button">OPEN SCOOP</button>
                    <button class="scoop2" type="button">CLOSE SCOOP</button>
                </div>
            </div>

            <div class="pannel" id="auto">
                <label>Auto Mode</label>
                <button class="auto-btn auto-start" type="button">START</button>
                <button class="auto-btn auto-stop" type="button">STOP</button>
                <button class="auto-btn reset" type="button">RESET</button>
            </div>


        </div>
    </div>

    <script src="static/js/form.js"></script>
</body>

</html>