body {
    margin: 5% auto;
    background: #c0bebe;
    color: #444444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.8;
    text-shadow: 0 1px 0 #ffffff;
    max-width: 73%;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.select-container {
    width: 100%;
    display: flex;
    background-color: rgb(195, 255, 255);
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    border-radius: 10px;
    flex: 1;
}

.control-pannel {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pannel{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.buttons {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


button {
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;

}

.pannel #auto {
    background-color: aquamarine;

}

.auto-btn {
    width: 40%;
    margin: 20px;
}



